#myTable_wrapper {
    padding: 10px;
}

.btn-hov {
    /*  */
}

.card-om {
    cursor: pointer;
}

@keyframes zoom_card {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(.9)
    }
}

.card-om:hover {
    animation: zoom_card .4s ease-in-out;
    animation-fill-mode: forwards;
}

.bg-spraying {
    color: #fff;
    background-color: #17a2b8;
}

.bg-fertilizer {
    color: #fff;
    background-color: #4caf50;
}

.bg-circle {
    color: #fff;
    background-color: #8BC34A;
}

.bg-pruning {
    color: #fff;
    background-color: #3f51b5;
}

.bg-gawangan {
    color: #fff;
    background-color: #009688;
}

.bg-pcontrol {
    color: #fff;
    background-color: #E91E63;
}

.bg-harvesting {
    color: #fff;
    background-color: #ff5722;
}

.btn-hov-txt {
    display: none;
    transition: display 3s ease-in
}

.btn-hov:hover .btn-hov-txt {
    display: inline
}

.crudd__btn_cont {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
    border-radius: 0 0 5px 5px;
    background: rgba(255, 255, 255, .9);
    display: none;
}

@keyframes height_increased {
    from {
        height: 0;
    }

    to {
        height: 47px
    }
}

#wadah:hover .crudd__btn_cont {
    animation: height_increased .2s ease;
    animation-fill-mode: forwards;
    display: block;
}

.font-weight-500 {
    font-weight: 500 !important;
}

/* Sorting button dashboard */
.sort__btn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    cursor: pointer;
    bottom: 20px;
    right: 30px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: #2196F3;
    z-index: 1000;
    color: white;
}

.sort__overlay {
    position: fixed;
    display: none;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(29, 25, 25, 0.3);
    z-index: 10000;
}

.sort__container {
    position: fixed;
    display: none;
    bottom: 5px;
    right: 5px;
    width: 20vw;
    height: 50vh;
    background: #fdfdfd;
    border-radius: 5px;
    z-index: 10001;
}

.sort__header {
    position: relative;
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
}
.sort__body {
    padding: 5px 20px;
    font-size: 14px!important;
}
.sort__footer {
    position: relative;
    padding: 5px 20px;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.sort__title {
    font-size: 1rem;
}
#sort__close {
    cursor: pointer;
}

@keyframes sortbtn__bigger {
    from {
        transform: scale(1)
    } to {
        transform: scale(1.3)
    }
}

.sort__btn:hover {
    animation: sortbtn__bigger .2s ease-in-out;
    animation-fill-mode: forwards;
}

/* override classes */
.small-box {
    margin-bottom: 10px!important;
}

/* Preload */
.preload-container {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    bottom: 0;
    width: 100vw;
    z-index: 10000;
}

.preload-text {
    width: 100px;
    height: fit-content;
    margin-top: 1rem;
    padding: .8rem;
    text-align: center;
    background: #51545694;
    color: white;
    border-radius: 5px;
}